.carousel-indicators {
  bottom: -10px;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
.carousel-indicators li.active {
  background-color: #fbd062;
}

.carousel-item img {
  width: 400px;
  height: 336px;
}
@media (max-width: 576px) {
  .carousel-item img {
    width: 350px;
    height: 300px;
  }
}
