#root {
  font-family: "Poppins", sans-serif;
}
.btn:hover {
  border: 1px solid #111430 !important;
  background: none !important;
  background-color: none !important;
  color: #111430 !important;
  transition: all 0.4s;
}
